<h1>All Users</h1><br>
<a href="/users.json">Users json</a><br>
<a href="/posts.json">Posts json</a><br>
<a href="/users.html">Users html</a><br><br>

<ul>
<% @users.each do |user| %>

<li><%= user.login %> | <%= user.age %> | <%= user.description %> | 
<a href="posts/<%= user.id %>">posts of user <%= user.login %></a>
<br>
<form action="/delete" method="post">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="id" value="<%= user.id %>">
	<input type="submit" value="Click for delete">
</form>

</li>

<% end %>
</ul>

<br><br><br>
<form action="/add_user" method="post">
	Login <input type="text" name="login" value=""><br>
	Age <input type="text" name="age" value=""><br>
	Description <input type="text" name="description" value=""><br>
	<input type="submit" value="Add user">
</form>